/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.02.2019, 15:47:21
    Author     : Безсонов Олександр
    Author E-mail: bezsonovalexander@gmail.com
    Author web-site: bessono.ru
*/

.center_object {
    margin:auto;
    text-align:center;
    
}
.groupe_tree_edit{
	padding: 5px;
}
